.aboutme {
 margin-top: 0;
 padding: 140px 0 150px 0;
 background-position: top center;
 background-size: cover;
 background-repeat: no-repeat;
}

.span{
    padding-left: 20px;
    font-weight: 700;
    font-size: 100px;
}

.name {
    color: rgb(63, 0, 63)
};