.resume-section {
    padding: 60px 0 60px 0;
    background-repeat: no-repeat;
}

.resume-container {
    padding-top: 50px;
}

.resume {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* * {
 padding-top: 100px;
} */